{% extends 'projects/details/base.html' %}

{% from 'base/pagination.html' import pagination %}

{% set page_id = 'history' %}

{% block tab_content %}
  <h2>Command History</h2>
    <table class="table table-striped">
      <tr>
        <th>User</th>
        <th>Command</th>
        <th>Date</th>
        <th>Result</th>
        <th></th>
      </tr>
      {% for sent_command in sent_commands %}
        <tr {% if not sent_command.success is none -%}
              class="{{ 'success' if sent_command.success else 'danger' }}"
            {%- endif %}>
          <td>{{ user_display(sent_command.user) if sent_command.user else 'The Captain' }}</td>
          <td>{{ sent_command.command }}</td>
          <td>{{ sent_command.sent.strftime('%b %d, %Y %H:%M:%S %Z') }}</td>
          <td>
            {% if sent_command.success is none %}
              Pending
            {% elif sent_command.success %}
              Success
            {% else %}
              Failed
            {% endif %}
          </td>
          <td>
            <a href="#">More Info</a>
          </td>
        </tr>
      {% else %}
        <td colspan="3">No commands have been run for this project yet.</td>
      {% endfor %}
    </table>

    {{ pagination(page_obj) }}
{% endblock %}
