{% extends 'projects/details/base.html' %}

{% from 'base/forms.html' import form_field %}

{% set page_id = 'run_command' %}

{% block tab_content %}
  <div class="run-command-panel panel panel-primary">
    <div class="panel-heading"><h2 class="panel-title">Send a command</h2></div>
    <div class="panel-body">
      <form method="post" action="{{ url('projects.details.run_command', project.pk) }}">
        {{ csrf() }}
        {{ form_field(form.command) }}
        <button type="submit" class="btn btn-primary">Send</button>
      </form>
    </div>
  </div>
{% endblock %}
