{% extends 'projects/details/base.html' %}

{% from 'base/forms.html' import form_field %}

{% set page_id = 'schedule' %}

{% block tab_content %}
  <h2>Automatic Command Schedule</h2>
    <table class="table table-striped">
      <tr>
        <th>Command</th>
        <th>Created By</th>
        <th>Interval</th>
        <th>Last Run</th>
        <th>Hostnames</th>
      </tr>
      {% for command in scheduled_commands %}
        <tr>
          <td>{{ command.command }}</td>
          <td>{{ user_display(command.user) }}</td>
          <td>{{ command.get_interval_minutes_display() }}</td>
          <td>
            {% if command.last_run %}
              {{ command.last_run.strftime('%b %d, %Y %H:%M:%S %Z') }}
            {% else %}
              Never
            {% endif %}
          </td>
          <td>
            <select multiple rows="3">
              {% for hostname in command.hostnames.split(',') %}
                <option>{{ hostname }}</option>
              {% endfor %}
            </select>
          </td>
        </tr>
      {% else %}
        <td colspan="5">No commands have been scheduled for this project yet.</td>
      {% endfor %}
    </table>

    <div class="panel panel-primary">
      <div class="panel-heading"><h2 class="panel-title">Add New Command to Schedule</h2></div>
      <div class="panel-body">
        <form method="post">
          {{ csrf() }}
          {{ form_field(form.command) }}
          {{ form_field(form.interval_minutes) }}
          {{ form_field(form.hostnames) }}
          <button type="submit" class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
{% endblock %}
