{% extends 'base/base.html' %}

{% block content %}
  <div class="col-md-offset-4 col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title">Sign-in required</h1>
      </div>
      <div class="panel-body">
        <p>You must sign in to continue to that page.</p>
        <p class="text-center">
          {{ browserid_login(color='dark', next=request.GET.get('next', url('projects.list'))) }}
        </p>
      </div>
    </div>
  </div>
{% endblock %}
