{% extends 'base/base.html' %}

{% set title = title|default('All Projects') %}

{% block content %}
  <h1>{{ title }}</h1>
  {% block description %}{% endblock %}
  <table class="table table-striped">
    <tr>
      <th>Project Name</th>
      <th>Homepage</th>
    </tr>
    {% for project in object_list %}
      <tr>
        <td><a href="{{ project.get_absolute_url() }}">{{ project.name }}</a></td>
        <td><a href="{{ project.homepage }}">{{ project.homepage }}</a></td>
      </tr>
    {% else %}
      <td colspan="2">No projects found.</td>
    {% endfor %}
  </table>
{% endblock %}
